.file-dragged::before {
	content: 'Drop file';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(102, 198, 255, 0.25);
	text-transform: uppercase;
	font-weight: 900;
	font-size: 2em;
	text-shadow: 0 0 1em #000, 0 0 2em #000;
	outline: 4px dashed white;
	outline-offset: -0.5em;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	pointer-events: none;
}

.stroked::before {
	content: attr(data-text);
	position: absolute;
	-webkit-text-stroke: 2.5px #000;
	z-index: -1;
	font: inherit;
	overflow: inherit;
	text-overflow: inherit;
	white-space: inherit;
	text-align: inherit;
	letter-spacing: inherit;
	pointer-events: none;
	user-select: none;
}

.download-button {
	grid-column: 1/-1;
	display: block;
	width: 100%;
	padding: 0.75em 1em;
}
